# شروع کار با پایتون 1

In [5]:
new_string = "This is a String" # ذخیره سازی رشته

In [6]:
new_string

'This is a String'

In [7]:
type(new_string) # نشان دادن نوع شیء

str

In [ ]:
new_string # نشان دادن مقدار شیء

In [8]:
id(new_string) # object identifier

2832979038328

## انواع ساختار داده

#   عددی - صحیح

In [9]:
num = 123

In [10]:
num + 1000 # جمع

1123

In [11]:
num * 2 # ضرب

246

In [12]:
num / 2 # تقسیم

61.5

In [13]:
num ** 2 # توان

15129

# عددی - اعشاری

In [14]:
1.5 + 2.6

4.1

In [18]:
1e2 + 1.5e3 + 0.5

1600.5

In [19]:
 2.5e-2

0.025

#  عددی - مختلط

In [21]:
cnum = 5 + 7j

In [22]:
type(cnum)

complex

In [23]:
cnum.real

5.0

In [24]:
cnum.imag

7.0

In [25]:
cnum + (1 - 0.5j)

(6+6.5j)

## رشته

In [1]:
s1 = 'this is a string'

In [2]:
s2 = 'this is "another" string'

In [3]:
s3 = 'this is the \'third\' string'

In [4]:
 s4 = """this is a
         multiline
         string"""

In [30]:
print (s1, s2, s3, s4)

this is a string this is "another" string this is the 'third' string this is a
        multiline
        string

In [31]:
print (s3 + '\n' + s4)

this is the 'third' string
this is a
        multiline
        string

In [6]:
'@'.join([s1, s2])

'this is a string@this is "another" string'

In [35]:
s1[::-1] # برعکس کردن رشته

'gnirts a si siht'

## لیست

In [37]:
l1 = ['eggs', 'flour', 'butter'] 
l2 = list([1, 'drink', 10, 'sandwiches', 0.45e-2]) 
l3 = [1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

In [38]:
print (l1, l2, l3)

['eggs', 'flour', 'butter'] [1, 'drink', 10, 'sandwiches', 0.0045] [1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

In [39]:
l1

['eggs', 'flour', 'butter']

In [40]:
l1[0]

'eggs'

In [41]:
l1[1]

'flour'

In [42]:
l1[0] +' '+ l1[1]

'eggs flour'

In [43]:
l2[1:3]

['drink', 10]

In [44]:
numbers = range(10) 
numbers

range(0, 10)

In [45]:
numbers[2:5]

range(2, 5)

In [46]:
numbers[:]

range(0, 10)

In [ ]:
# مدیریت لیست آشیانه ای (nested lists)

In [51]:
l3

[1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

In [52]:
l3[3]

['a', 'b', 'c']

In [ ]:
l3[4]

In [53]:
l3.append(' '.join(l3[4])) # append operation

In [54]:
l3

[1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python'], 'Hello Python']

In [55]:
l3.pop(3) # pop operation

['a', 'b', 'c']

In [56]:
l3

[1, 2, 3, ['Hello', 'Python'], 'Hello Python']

## مجموعه

In [65]:
 l1 = [1,1,2,3,5,5,7,9,1]

In [66]:
s1= set(l1)#  تبدیل لیست به مجموعه
s1

{1, 2, 3, 5, 7, 9}

In [63]:
1 in set(l1)

True

In [64]:
100 in set(l1)

False

In [68]:
# نوشتن مجموعه دوم
s2 = {5, 7, 11}

In [69]:
s1 - s2 # تفریق مجموعه ها

{1, 2, 3, 9}

In [70]:
s1 | s2 # اجتماع مجموعه ها

{1, 2, 3, 5, 7, 9, 11}

In [71]:
s1 & s2 # اشتراک مجوعه ها

{5, 7}

In [72]:
s1 ^ s2 # عناصری که در هر دو مجموعه وجود ندارند

{1, 2, 3, 9, 11}

# دیکشنری

In [74]:
d1 = {'eggs': 2, 'milk': 3, 'spam': 10, 'ham': 15}

In [75]:
d1.get('eggs')

2

In [76]:
d1['eggs']

2

In [77]:
d1['orange'] = 25
d1

{'eggs': 2, 'ham': 15, 'milk': 3, 'orange': 25, 'spam': 10}

In [78]:
d1.keys()

dict_keys(['eggs', 'milk', 'spam', 'ham', 'orange'])

In [79]:
d1.values()

dict_values([2, 3, 10, 15, 25])

In [81]:
d2 = dict({'orange': 5, 'melon': 17, 'milk': 10})

In [82]:
d1.update(d2)
d1

{'eggs': 2, 'ham': 15, 'melon': 17, 'milk': 10, 'orange': 5, 'spam': 10}

In [85]:
d3 = {'k1': 5, 'k2': [1,2,3,4,5], 'k3': {'a': 1, 'b': 2, 'c':
[1,2,3]}}

In [84]:
d3.get('k3')

{'a': 1, 'b': 2, 'c': [1, 2, 3]}

In [86]:
d3.get('k3').get('c')

[1, 2, 3]

# تاپل

In [87]:
single_tuple = (1,)
single_tuple

(1,)

In [88]:
id(single_tuple)

2832882136792

In [89]:
single_tuple = single_tuple + (2, 3, 4, 5)
single_tuple

(1, 2, 3, 4, 5)

In [90]:
id(single_tuple)

2832961537568

## دسترسی پیدا کردن و باز کردن تاپل ها

In [91]:
tup = (['this', 'is', 'list', '1'], ['this', 'is', 'list', '2'])
tup[0]

['this', 'is', 'list', '1']

In [93]:
l1, l2 = tup
print (l1, l2)
l1

['this', 'is', 'list', '1'] ['this', 'is', 'list', '2']

['this', 'is', 'list', '1']

# برنامه های کنترلی

### برنامه های کنترلی در پایتون شامل موارد زیر میشود
### if-elif-else 
### for حلقه
### while حلقه 
### break, continue,و else (در حلقه ها)
### try- except

# if elif else

In [94]:
var = 'spam'
if var == 'spam':
    print ('Spam')

Spam

In [95]:
var = 'ham'
if var == 'spam':
    print ('Spam')
elif var == 'ham':
    print ('Ham')

Ham

In [96]:
shahin = int(input('چند سالته عمو جان'))
if shahin >= 18:
    print('بزرگ شدی حسابی')
elif shahin >= 14 and shahin < 18:
    print("هنوز مرد نشدی")
    print("داری مدرسه میری")
else:
    print('کوچولو')

چند سالته عمو جان25
بزرگ شدی حسابی

# for حلقه

In [98]:
# نشان دادن حلقه ها
numbers = range(0,5)
for number in numbers:
    print (number)

0
1
2
3
4

In [99]:
Sum = 0
for number in numbers:
    Sum += number
print (Sum)

10

In [100]:
for number in numbers:
    if number < 3:    
        print (number) 
    else:
        break
else:
    print('loop exited normally')

0
1
2

# While حلقه

In [101]:
number = 5
while number > 0:
    print (number)
    number -= 1

5
4
3
2
1

In [103]:
number = 10
while number > 0:    
    if number % 2 != 0:
        number -= 1
        continue # برگشتن به حلقه اول برای تکرار بعد
    print (number)  # چاپ اعداد زوج و شمارش گسسته
    number -= 1

10
8
6
4
2

In [104]:
number = 10
while number > 0:    
    if number % 2 != 0:
        pass
    else:
        print (number)  # چاپ اعداد زوج و شمارش گسسته
    number -= 1

10
8
6
4
2

# try- except کار با

In [107]:
shopping_list = ['eggs', 'ham', 'bacon']
# تلاش برای دسترسی به یک آیتم ناموجود در لیست
try:
    print (shopping_list[3])
except IndexError as e:
    print ('Exception:' + str(e) + ' ' + 'has occurred')
else:
    print ('No exceptions occurred')
finally:
    print ('I will always execute no matter what!')

Exception:list index out of range has occurred
I will always execute no matter what!

In [108]:
try:
    print (shopping_list[2])
except IndexError as e:
    print ('Exception: '+str(e)+' has occurred')
else:
    print ('No exceptions occurred')
finally:
    print ('I will always execute no matter what!')

bacon
No exceptions occurred
I will always execute no matter what!

# توابع

In [110]:
def square(number):
    return number*number

In [111]:
square(5)

25

In [112]:
def squares(*args):
    squared_args = []
    for item in args:  
        squared_args.append(item*item)
    return squared_args

In [113]:
squares(1, 2, 3, 4)

[1, 4, 9, 16]

In [115]:
# keyword arguments
def person_details(**kwargs):
    for key, value in kwargs.items():
        print (key, '->', value)

In [116]:
person_details (name='James Bond', alias='007', job='Secret Service')

name -> James Bond
alias -> 007
job -> Secret Service

# توابع بازگشتی

In [117]:
numbers= range(6)
def recursive_squares(numbers):
    if not numbers:
        return []
    else:
        return [numbers[0]*numbers[0]] + recursive_squares(numbers[1:])

In [118]:
recursive_squares(numbers)

[0, 1, 4, 9, 16, 25]

# توابع پنهان

In [120]:
# simple lambda function to square a number
lambda_square = lambda n: n*n

lambda_square(5)

25

# Iterators

In [121]:
numbers = range(6) 
for number in numbers:
    print (number)

0
1
2
3
4
5

# Comprehensions

In [4]:
numbers = range(6)
numbers

range(0, 6)

In [122]:
[num*num for num in numbers]

[0, 1, 4, 9, 16, 25]

In [123]:
[num%2 for num in numbers]

[0, 1, 0, 1, 0, 1]

In [124]:
 # کامپریهنش های مجموعه ای مقادیر متفاوت از عملیات بالا را برمیگردانند
set(num%2 for num in numbers)

{0, 1}

In [125]:
# dictionary comprehension where key:value is number: square(number) 
{num: num*num for num in numbers}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [126]:
 # a more complex comprehension showcasing above operations in a single comprehension 
[{'number': num, 'square': num*num,'type': 'even' if num%2 == 0 else 'odd'} for num in numbers]

[{'number': 0, 'square': 0, 'type': 'even'},
 {'number': 1, 'square': 1, 'type': 'odd'},
 {'number': 2, 'square': 4, 'type': 'even'},
 {'number': 3, 'square': 9, 'type': 'odd'},
 {'number': 4, 'square': 16, 'type': 'even'},
 {'number': 5, 'square': 25, 'type': 'odd'}]

In [127]:
# nested list comprehension - flattening a list of lists
list_of_lists = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [128]:
[item for each_list in list_of_lists for item in each_list]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Generators

In [2]:
numbers = [1, 2, 3, 4, 5]

In [3]:
def generate_squares(numbers):    
    for number in numbers:
         yield number*number

In [129]:
gen_obj = generate_squares(numbers)
gen_obj
for item in gen_obj:
    print (item)

0
1
4
9
16
25

In [130]:
csv_string = 'The,fox,jumps,over,the,dog'

gen_obj = (item for item in csv_string.split(',')) 
shahin= ' '.join(gen_obj)
shahin

'The fox jumps over the dog'

# کلاس ها

In [131]:

class Animal(object):
    species = 'Animal' 
    
    def __init__(self, name): 
             self.name = name 
             self.attributes = [] 
  
    def add_attributes(self, attributes):
        self.attributes.extend(attributes)
        if type(attributes) == list:
            pass
        else:          
            self.attributes.append(attributes) 
  
    def __str__(self): 
          return self.name+" is of type "+self.species+" and has attributes:"+str(self.attributes)

In [132]:
a1 = Animal('Rover')

a1.add_attributes(['runs', 'eats', 'dog'])

str(a1)

"Rover is of type Animal and has attributes:['runs', 'eats', 'dog']"